NET "clk" LOC = B8;
NET "clk" TNM_NET = clock;

NET "led<0>" LOC = "M5" | IOSTANDARD = LVCMOS33;
NET "led<1>" LOC = "M11"| IOSTANDARD = LVCMOS33;
NET "led<2>" LOC = "P7" | IOSTANDARD = LVCMOS33;
NET "led<3>" LOC = "P6" | IOSTANDARD = LVCMOS33;
NET "led<4>" LOC = "N5" | IOSTANDARD = LVCMOS33;
NET "led<5>" LOC = "N4" | IOSTANDARD = LVCMOS33;
NET "led<6>" LOC = "P4" | IOSTANDARD = LVCMOS33;
NET "led<7>" LOC = "G1" | IOSTANDARD = LVCMOS33;


NET "ADC_CS" LOC = "B2" | IOSTANDARD = LVCMOS33;
NET "ADC_D0" LOC = "A3" | IOSTANDARD = LVCMOS33;
NET "ADC_SCLK" LOC = "J3" | IOSTANDARD = LVCMOS33;

NET "SI"        LOC = "C6" | IOSTANDARD = LVCMOS33;
NET "taos_clk" LOC = "B6"  | IOSTANDARD = LVCMOS33;


NET "txd" LOC = "A9" | IOSTANDARD = LVCMOS33;
NET "tx_start" LOC = "N3" | IOSTANDARD = LVCMOS33;

NET "modelock" LOC = "D12" | IOSTANDARD = LVCMOS33;
